/* Sky Blue: rgb(102 218 254) 
   Banana Yellow: rgb(255 253 138) 
   Peel Yellow:*/


html, body {
  /* height: 100% */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  background-image: url(BG_bananas2_main.png); 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Bangers', cursive;
}

h1, header {
  text-align: center;
  padding-top: 10px;
  margin: 0;
  /* width: 450px; */
  /* border: 3px solid red; */
  background-color: rgb(102 218 254);
}

h2 {
  padding: 40px 0px;
  margin: 0;
  font-size: 16px;
}

p {
  /* font-size: 25px; */
}

span {
font-size: 16px;
}

.content {
 flex: 1 0 auto; 
 text-align: center;
}

.footer {
  flex-shrink: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 3px solid red;
  font-size: 10px;
}

.vote-area {
  margin: 16px 30px;
  border: 3px solid red;
}

#joke-display {
  padding: 100px 0px;
  margin: 16px 30px;
  border: 3px solid red;
}

#game-description {
  padding-bottom: 10px;
  font-size: 16px;
  font-family: 'Bangers', cursive;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

form button {
  border: 0.16em solid #FFFFFF;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Bangers', cursive;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.15s;
  background: black;
}

  form button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }


@media screen and (max-width 568px) {
  .flex-container {
    display: flex;
  }
header {
  font-size: 25px; 
} /* Doesn't work*/

}
